.discussion {
  display: flex;
  flex-direction: column;
  background: #fff;
}

.discussionUser {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
}
.discussionUser img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.discussionUser span {
  display: flex;
  width: 99%;
  height: 50px;
  border-radius: 5px;
  background: rgb(217 216 216 / 50%);
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.commentCard {
  margin: 10px 10px 0 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
}
.commentCardHeader {
  display: flex;
  align-items: center;
}
.commentCardHeader span {
  font-size: 14px;
  margin-left: 10px;
}
.themeName {
  font-size: 14px;
  margin-left: 5.2%;
}
.comment {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 10px 0;
  // align-items: center;
  padding: 1%;
}
.likedAndReplay {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  // box-shadow: 0px 0px 7px 4px rgb(217 216 216 / 50%); /* bottom阴影 */
  margin: 0 0 0 85%;
}
.moreReplay {
  cursor: pointer;
  display: block;
  color: blue;
  margin: 2% 20% 2% 60%;
}

.commentList {
  display: flex;
  flex-direction: column;
}

.commentCard {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

.commentUser {
  width: 100%;
}

.showOthers {
  color: #1677ff;
}

.btns {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 10px 0;
}
