.discussion {
  display: flex;
  flex-direction: column;
  background: #fff;
}

.discussionUser {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
}
.discussionUser img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.discussionUserSpan {
  display: flex;
  width: 99%;
  height: 50px;
  border-radius: 5px;
  background: rgba(217, 216, 216, 0.881);
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.commentCard {
  margin: 10px 10px 0 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
}
.commentCardHeader {
  display: flex;
  align-items: center;
}
.commentCardHeader span {
  font-size: 22px;
  margin-left: 10px;
}
.themeName {
  font-size: 15px;
  margin-left: 5.2%;
}
.comment {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 10px;
}
.likedAndReplay {
  display: flex;
  align-items: center;
  justify-content: end;
  width: auto;
  height: auto;
  // box-shadow: 0px 0px 7px 4px rgb(217 216 216 / 50%); /* bottom阴影 */
  width: 100%;
}
.moreReplay {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  color: #1677ff;
}
.firstCommentInput {
  margin: 10px 0px 10px 0px;
}
.firstCommentButton {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 10px 0;
}
.commentList {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.commentCard {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

.commentUser {
  width: 100%;
}

.showOthers {
  color: #1677ff;
}

.cancelBt {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 10px 0;
}

.title{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}