.wrap {
  padding: 20px;
  margin: 20px 220px;
}
.top {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.topCenter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itemStyle {
  display: 'flex';
  flex-direction: 'column';
  justify-content: 'space-between';
}
.homeworkItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  height: 100px;
  padding: 10px;
}
.stuName {
  font-size: 15px;
  font-weight: bold;
}
.score {
  margin-top: 10px;
  font-size: 14px;
}

.title {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
