.big {
  padding: 10px;
}
.header-xxx {
  padding: 10px;
  justify-content: space-between;
  display: flex;
}

.row-big {
  margin-top: 20px;
}
.st {
  width: 120px;
}
.lesson_img {
  width: 100%;
  height: 150px;
}
.lesson_top {
  display: flex;
  justify-content: space-between;
}
.lesson_description {
  color: #666;
}
