.icons_items {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
    width: 100px;
    height: 100px;
}

.shuchu{
    margin-top: 10px;
    margin-left: 20px;
}

.fixmima{
    margin-top: 10px;
    margin-left: 20px;
    width: 80;
}

//tx means touxiang
.fixtx{
    margin-top: 40px;
    margin-left: 100px;
    width: 80;
    height: 30px;
}


.introduce{
    display: flex;
    justify-content: flex-start;
    margin-top: 60px;
}