/* index.module.scss */
.layout {
  margin: 0px;
  padding: 0px;
  // background: #fff;
}
.header {
  display: flex;
  height: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
}
.title {
  display: flex;
  flex-direction: column;
  line-height: 30px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  height: 320px;
  font-size: large;
  width: 100%;
}
.card p {
  margin: 0;
  text-indent: 2em;
}

.outline {
  display: flex;
  flex-direction: column;
  background: #fff;
}

.outlineTitle {
  margin: 20px 0 20px 10px;
  font-size: larger;
}
.outlineCard {
  margin: 20px 0 20px 10px;
  font-size: larger;
}
.outlineCardTitle {
  display: flex;
  align-items: center;
  box-shadow: 0px 6px 6px -4px rgba(189, 185, 185, 0.5); /* bottom阴影 */
}
.outlineCardContent {
  margin: 15px 0px 15px 0px;
}
.footer {
  background: #fff;
  padding: 0;
}

.resoursList {
  display: flex;
  flex-direction: column;
}
.courseAll {
  margin: 20px;
}

.download {
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.downloadIcon {
  font-size: 30px;
}
.resoursListTitle {
  margin-top: 20px;
}

:global {
  .ant-card-body {
    padding: 12px !important;
  }
}
