.detailALL{
    margin: 20px;
}
.detailHeader{
    // padding: 0px 50px 0px 50px;
    margin-bottom: 20px;
}
.infoHead {
    padding: 10px 0 5px 20px;
    overflow: hidden;
    color: #A8A8B3;
    line-height: 16px;
    font-size: 14px;
    white-space: nowrap;
    margin-bottom: 10px;
}
.col1{
    border: 2px black;
}
.col2{
    height: 100%;
}
.upload{
    margin-top: 20px;
}