.detailALL{
    margin: 20px;
}
.detailHeader{
    // padding: 0px 50px 0px 50px;
    margin-bottom: 30px;
}
.head{
    margin-bottom: 10px;
}
.infoHead {
    margin-top: 10px;
    margin-left: 20px;
    overflow: hidden;
    color: #A8A8B3;
    line-height: 16px;
    font-size: 14px;
    white-space: nowrap;
    margin-bottom: 10px;
}
.info{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    .info-p{
        white-space: normal; // 正常换行
    }
}
.upload{
    margin-top: 20px;
}
.download{
    padding-left: 10px;
    // margin-right: 5px;
}