.zs {
  height: 40px;
  width: auto;
  background-color: #cc1;
}
.sh {
  width: 80px;
  height: 80px;
  border-color: bisque;
}
.show-all {
  margin: 20px;
}
.col {
  margin-top: 50px;
}
.detailALL {
  padding: 20px;
}
